@{
    ViewData["Title"] = "Home";
}

<div class="text-center mt-5">

    <h1 class="display-4">
        Employee Management Portal
    </h1>

    <p class="lead">
        Automated Deployment using ASP.NET Core MVC,
        Terraform, GitHub Actions and Microsoft Azure
    </p>

    <hr />

    <div class="mt-4">

        <h3>Project Features</h3>

        <ul class="list-unstyled">

            <li>✔ ASP.NET Core MVC Web Application</li>

            <li>✔ Infrastructure as Code using Terraform</li>

            <li>✔ Continuous Integration with GitHub Actions</li>

            <li>✔ Continuous Deployment to Microsoft Azure</li>

            <li>✔ Employee Directory Module</li>

        </ul>

    </div>

</div>